# windows stuff
*.lnk

# rom stuff
*.gba
*.sav
*.sgm
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9

# built stuff
*.sym
*.ups
*.lyn.event
*.o

# python stuff
__pycache__/

# project files
*.sublime-project
*.sublime-workspace
*.tiled-project
*.tiled-session
